goosh.lib.namespace("goosh.config");

goosh.config.apikey = "<your api key>";
goosh.config.cx = "<your search engine id>";

goosh.config.user = "guest";
goosh.config.host = "<doamin name>";
goosh.config.mode = "web";
goosh.config.pend = ">&nbsp;";

goosh.config.numres = 9;
goosh.config.timeout = 4;

goosh.config.start=0;
goosh.config.moreobj;

goosh.config.lang = "en";
goosh.config.urls = new Array();
goosh.config.cmdlines = new Array();
goosh.config.cmdqueue = new Array();

goosh.config.reflink = "on";
